*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100vh;
}

.logo img{
    height: 200px;
}

.logo{
    position: absolute;
    top: 5%;
}

.searchPart{
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 600px;
    border: 1px solid rgb(223,211,221);
    border-radius: 40px;
    overflow: hidden;
   
}

#searchText{
    height: 50px;
    width: 440px;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 15px;
    color: #000;
    font-weight: 500;
}

.searchPart i{
    width: 55px;
    height: 50px; 
    /* border: 1px solid red; */
    font-size: 20px;
    color: blue;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
}

.searchResult{
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    /* background-color: aqua; */
    width: 50%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 20px;
    border-top: 1px solid rgb(167,165,165);
}

.searchResultContent{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
    /* text-align: center; */
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 15px;
    /* background-color: red; */
}

.searchResultContent .title, .searchResultContent .link{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

.searchResultContent .link{
    font-size: 18px;
    color: green;
}

.searchResultContent p{
    color: rgb(98, 98,98);
}

